@import url('https://fonts.googleapis.com/css2?family=Exo');

.Phonetics a {
    color: #0a3e64;
    border: 1px solid #ddd;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height:5;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
}

.Phonetics a:hover{
    background-color: rgb(168, 185, 221);
    border: 1px solid rgb(168, 185, 221);
    color: white;
}

.Phonetics .text {
    font-family:'Exo', sans-serif;
    opacity: 0.8;
    font-weight: bold;
}