@import url('https://fonts.googleapis.com/css2?family=Exo');

.Synonyms {
    margin: 0px 0 40px;
    padding: 0;
}

.Synonyms li {
    font-family:'Exo', sans-serif;
    font-size: 15px;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color:rgb(82, 83, 83);
}